%h2.about
  %a.logo{:href => "#{root_path}"}  
    %span.t-blue> bother 
    %span.t-red> congress
  was created by Zack Drach, Pasha Murayev, and Daniel Yu at
  %a.t-bold{:href => "http://www.hackmit.org/"} HackMIT 2013
  over a period of about 20 hours. The purpose of the site is to allow individuals to broadcast their opinions with any member of Congress as quickly and easily as possible.
  Through
  %a.logo{:href => "#{root_path}"}  
    %span.t-blue> bother 
    %span.t-red> congress
    %span.t-black> ,
  users can contact one or more legislators simultaneously through four channels of communication (facebook, twitter, phone, and email), all with one button.

%h2.about.video-about.is-left
  Check out our demo video, and then feel free to
  %a{:href => "#{root_path}"} try it out yourself → 

.video.is-left
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "//www.youtube.com/embed/yJDv-zdhzMY", :width => "550"}