%h1.t-arvo 
  Bother a Congressman:

%input.message.t-arvo{:type => "text", placeholder: "Get your act together."}/ 

%h2.t-arvo
  = link_to "Next →", login_path, class: "is-ta-right is-block"
     
.previous-messages

  %h2.t-arvo
    Or use someone else's message:

  %p.previous-message I can't believe how ridiculous you are.

  %p.previous-message Really, you guys are absolute morons.

  %p.previous-message Buy me a sandwich.
  

:javascript
  $(".message").focus();