%h1.t-arvo 
  Bother a Legislator (they deserve it):

%input.message.t-arvo{:type => "text", placeholder: "Get your act together."}/ 

%h2.t-arvo
  = link_to "Next →", login_path, class: "is-ta-right is-block"
     
.old-messages

  %h2.t-arvo
    Or use someone else's message:

  %p.old-message.on-hover.is-enlarged I can't believe how ridiculous you are.

  %p.old-message.on-hover.is-enlarged Really, you guys are absolute morons.

  %p.old-message.on-hover.is-enlarged Buy me a sandwich.
  

:javascript
  $(".message").focus();

:javascript
  $(".old-message").on("click", function() {
    var message = $(this).html();
    $(".message").val(message);
  });