.l-container
  %h2.t-arvo 
    %span.t-red Hey. 
    You're a decent person, and you recognize that many of the people in
    %span.t-blue congress 
    aren't necessarily acting with the best interests of the country in mind. So why not tell them how you feel?

  %h2.t-arvo Just one click connects you through phone, email, facebook, and twitter.

  %h2.t-arvo 
    %a{:href => "#"} 
      Click here to get started → 