// header
.l-header
  color: #000
  background-color: #fff
  width: 100%
  border-bottom: 2px solid #000
  z-index: 5
  margin-bottom: 2em
  font-family: Helveica, Arial, sans-serif
  h1
    font-size: 2em
    line-height: 1em
    padding: 0.2em 1em
    margin: 0
    letter-spacing: -2px
    float: left
    a
      color: #000
  .l-nav
    float: right
    ul
      li
        display: inline-block
        padding: 0 20px
        a
          color: #000
          &:hover
            color: $blue
  .l-logo
    padding: 0 0 0 90px
    margin: 0
    float: left
    img
      height: 37px
      margin: 0
      padding: 14px 0
      line-height: 65px

// main

.l-container
  width: 100%
  top: 0
  position: absolute
  display: none
  &.first
    display: inline-block
  &.second
    top: 0
    right: -150%
  &.third
    top: 0
    right: -300%

.l-window
  position: absolute
  top: 0
  // left: 0
  width: 100%
  height: auto

.l-wrapper
  width: 1075px
  margin: 0 auto
  position: relative
  height: 100%
  overflow: hidden 