// colors
$blue: #0000f5
$red: #f50000 

.t-red
  color: $blue

.t-blue
  color: $red


.t-thick
  font-weight: 900

// fonts

.t-arvo
  font-family: "arvo"
  font-weight: normal
  letter-spacing: -2px

.t-neue
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
